* {
  margin: 0;
  padding: 0;
 font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.navbar {
  height: 80px;
  background-color: #fff;
  color: #000;
  display: flex;
  position: sticky;
  width: 100vw;
  box-shadow: 2px -4px 11px 0px black;
  justify-content: space-between;
}
.nav-logo {
  width: 170px;
  height: 80px;
}
.logo {
  background-image: url("./Asserts/logo.jpg");
  width: 100%;
  height: 76px;
  background-size: contain;
  background-repeat: no-repeat;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid black;
}
.nav-loc {
  padding: 20px 0px 0px 0px;
  margin-left: 20px;
  display: flex;
}
.icon-loc {
  padding: 10px 5px 0px 0px;
}
.loc-select {
  padding: 0px 0px 0px 0px;
  min-width: 150px;
  height: 35px;
  border-radius: 5px;
}
.mega-menu {
  position: absolute;
  left: 100px;
  top: 81px;
  width: 100%;
  margin: 0px 0px 0px 400px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.service-class:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}
.content {
  background-color: white;
  display: flex;
  width: 600px;
  height: 150px;
  border-radius: 5px;
  /* box-shadow: 3.5px 1px 11px 0px black; */
  border: 0.01px solid rgba(0, 0, 0, 0.363);
  border-top: 0;
}
.service-class {
  padding: 20px 0px 10px 0px;
  margin-left: 350px;
  height: 50px;
  padding-bottom: 50px;
  padding-top: 28px;
}
.service-class:hover {
  border: 2px solid transparent;
}
#firstname {
  text-decoration: none;
  color: #000;
}
.main {
  margin: 0px 20px 0px 20px;
}
.status {
  padding: 30px 0px 10px 0px;
  margin-left: 50px;
  height: 50px;
}
#secondname {
  text-decoration: none;
  color: #000;
}
.profession {
  padding: 20px 0px 10px 0px;
  margin-left: 50px;
  height: 50px;
}
.log {
  position: relative;
  bottom: 5px;
  padding: 15px 15px 10px;
  margin: 5px 44px 0px 50px;
  height: 40px;
 
  
}
.log > a {
  border-radius: 100px;
    background: black;
    padding: 7px 15px;
    border: 0;
   text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    right: 30px;
    top: 10px;
    position: relative;
}
.arrowleft,
.arrowright {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.arrowright {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* .arrowleft:hover,.arrowleft:hover{
  background-color: black;
} */
.slideshow > .myslides {
  width: 100%;
  height: 50vh;
}
.profession {
  padding-top: 30px;
}
.log {
  margin-top: 13px;
}
.icon-slider {
  padding-left: 300px;
  padding-right: 160px;
  max-width: 1920px;
  margin: auto;
}
.service {
  text-align: center;
  background-color: #595955;
  color: white;
  padding: 60px;
  font-size: 25px;
}
.steps{
  padding: 60px 40px 80px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  position: absolute;
  top: 477px;
  width: 843px;
  height: 246px;
  left: 300px;
  visibility: hidden;
}
.categories_button{
  text-align: center;
  margin-top: -30px;
}
.categories_button a {
    background: #acacac;
    border-radius: 100px;
    padding: 15px 37px;
    color: #ffffff !important;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: auto;
    z-index: 99;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.second-step > div {
  padding-top: 20px;
    width: 49%;
    margin-right: 20px;
    position: relative;
}
.second-step select{
    height: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 19px 11px 8px 11px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    color: #111111a2;
}
.second-step span {
    position: absolute;
    color: black;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 15px;
    left: 0;
}
.slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
}
.first_step {
  display: flex;
}
.carousel {
  height: 246px;
  padding-top: 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 80%;
  
}
.flickity-viewport {
  width:80%;
  left: 60px;
}
.carousel-cell {
  padding: 8px 21px;
  /* border: 1px solid #d9d9d9; */
  border-radius: 10px;
  margin: 0px 13px;
  text-align: center;
  height: 100px;
  width: 120px;
}
.new
{
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.carousel-cell{
  height: 100px;
  width: 120px;
}
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

/* cell number */
.carousel-cell:before {
  display: block;
}
.flex-container {
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}
.flex-container > div {
  margin: 50px;
  padding: 20px;
  color: black;
}
.heading {
  color: solid black;
  word-spacing: 150px;
  margin-top: 90px;
  margin-left: 103px;
  
}
.flickity-page-dots {
  display: none;
}
.footer{
  background-color: aliceblue;
}
/* .flex-container .d{
 display: flex;
} */
/* .d > dd {
  margin: 30px;
  padding: 50px;
} */
/* .gridcontainer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item{
  border: none;
  padding: 20px;
  width: 25%;
  height: 10vh;
  align-items: center;
} */
.partner h3{
font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
}
.flexible-center{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.partners{
  background: color #f4f4f4;;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.partners >p {
  font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    width: 700px;
    margin: auto;
    margin-bottom: 40px;
}
.partners_single{
  width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.partners_single > img {
  vertical-align: middle;
}
.footlogo{
  margin-bottom: 50px;
}
.footlogo >img {
  vertical-align: middle;
}
#footer-logo{
  position: relative;
  left: 80px;
  top: 70px;
}
#cart-status {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

#left-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: #919391;
  border-width: 4px;
  height: 600px;
}

#left-section1, #left-section2, #left-section3 {
  flex: 1;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  position: relative;
  border-radius: 30px;
  border-width: 3px;
  height: auto;
}
#comments {
height: 70px;
width: 50vw;
padding: 0 5px;
}
#right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: #919391;
  border-width: 4px;
  height: 200px;
}

#right-section1 {
  flex: 1;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  border-radius: 30px;
  border-width: 3px;
}

#right-section2 {
  flex: 1;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  position: relative;
  border-radius: 30px;
  border-width: 3px;
}

#address{
  height: 70px;
width: 50vw;
  padding: 0 5px;
  width: 100%;
  margin-bottom: 10px;
}

#payment-summary {
  margin-top: 10px;
}

#submit-button {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer_widgets{
  width: 181px;
  height: 221px;
}
.footer_widgets h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 25px;
}
.footer_widgets ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.footer_widgets ul li {
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.social_links li {
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 0;
}
.social_links li a {
  display: block;
  padding: 10px;
}
.footer_widgets a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.d{
  display: inline;
}